{% extends "base.html" %}
 
{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Главная страница банка</h1>
            <p class="lead">Данный сервис находится в разработке, и пользавателю представлено только ограниченное
                количество операций.</p>
        </div>
    </div>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/img/bank_1.jpg" src="..." alt="First slide">
            </div>
            <div class="carousel-item">
                <img src="/static/img/bank_2.jpg" src="..." alt="Second slide">
            </div>
            <div class="carousel-item">
                <img src="/static/img/bank_3.jpg" src="..." alt="Third slide">
            </div>
        </div>
    </div>


{% endblock %}