{% extends "base.html" %}

{% block content %}
    <h1>Перевод</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.card_number.label }}<br>
            {{ form.card_number }}<br>
            {% for error in form.card_number.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.money.label }}<br>
            {{ form.money }}<br>
            {% for error in form.money.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
        <div class="alert alert-danger" role="alert">
                    Указан не существующий номер карты или недостаточно средств.
                </div>
    </form>
{% endblock %}